

header {
  height: 70vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./netflix-hero.jpg);
  background-size: cover;
  background-position: center;
}
header .text-box {
  position: absolute;
  top: 30%;
  font-weight: 100;
}
.text-box b {
  font-weight: 700;
  font-size: 200%;
}